.button-start-game {
  border-radius: 20px;
  padding: 0.4em 1.2em;
  font-size: 0.9em;
  transition: font-size 0.5s;
}
.button-start-game:hover {
  font-size: 1.2em;
  border: 2px solid #050fda;
}

.highscore-list {
  list-style-type: none;
  padding: 8px;
}

/*Project.jsx*/
.Project-div{
  margin: auto 10%;
}
.Project-titel{
  font-size: 1.2em;
  line-height: 1.5;
}

.Project-h6{
  font-size: 1.4em;
  margin: auto 4%;
  line-height: 1;
  text-align: left;
}
.Project-h5{
  font-size: 1.3em;
  margin: 4%;  
  /* padding: 3% auto; */
  text-align: left;
}
.Project-p {
  margin: 2% 4%;
  text-align: left;
}
.Project-frontend-backend{
  font-size:1.1em;
  font-style: italic;
  margin: 2% 4%;
  text-align: left;
}